/*
 * generic
 */

.clearfix:after {
  content: "";   
  display: block;   
  clear: both;   
}  

/* Keep consistent line spacing with sup and sub
   http://www.adobe.com/cfusion/communityengine/index.cfm?event=showdetails&productId=1&postId=5341 */
sup, sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  _vertical-align: bottom;
  position: relative;
  
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}


/*
 * main
 */

* {
  margin: 0;
  padding: 0;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

#wrapper {
  position: absolute;
  right: 0;
  background-image: url('images/noise_01.jpg');
}

#display {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(193, 199, 153)), to(rgb(233, 235, 218)));
  border-bottom: solid 1px #787878;
  position: relative; /* in order to make height effective to children */
  font-family: sans-serif;
}

#view {
  text-align: right;  
}

.gloss {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.2)));
  -webkit-box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.6);
  position: absolute; /* in order to place text of parent right */
}

#display .gloss {
  height: 50%;
  width: 100%;
}

#functions {
  float: right;
}

#keypad {
  float: right;
}

.key {
  font-family: sans-serif;
  color: white;
  text-align: center;
  border: solid 1px black;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  position: relative;
}

.key .gloss {
  width: 100%;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-right-radius: 50% 6px;
  -webkit-border-bottom-left-radius: 50% 6px;
}

.key:hover .gloss {
  visibility: hidden;
}

.key.number, #period {
  background-color: #000000;
}

.key.number:hover, #period:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(0, 0, 0)), to(rgb(128, 128, 128)));
}

.key.function {
  background-color: #4f5559;
}

.key.function:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f5559), to(#a8abad));
}

.key.operator {
  background-color: #5b493f;
}

.key.operator:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5b493f), to(#aea5a0));
}

#equal_key {
  background-color: #e46e0b;
}


/* @media (max-device-width: 480px) and (orientation: landscape) { /* 480 * 300 for iPhone */
/* default */
  #wrapper {
    width: 480px;
    padding-bottom: 0;
  }

  #display {
    height: 58px;
    margin-bottom: 1px;
    padding-right: 7px;
  }

  #view {
    font-size: 50px;
    line-height: 58px;    
  }

  #angle {
    display: block;
    font-size: 14px;
    position: absolute;
    bottom: 2px;
    left: 15px;
  }

  #functions {
    display: block;
  }

  #keypad {
    padding-left: 2px;
    margin-right: -2px;
  }
  .key {
    width: 50px;
    height: 28px;
    line-height: 26px;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 5px;
  }

  .key .gloss {
    height: 13px;
  }

  #zero_key {
    width: 108px;
  }

  #equal_key {
    height: 66px;
    line-height: 66px; /* centering */
  }
/* } */


@media (max-device-width: 320px) and (orientation: portrait) { /* 320 * 460 for iPhone */
  #wrapper {
    width: 736px;
    padding-bottom: 1px;
  }

  #display {
    height: 88px;
    margin-bottom: 4px;
    padding-right: 10px;
  }

  #view {
    font-size: 78px;
    line-height: 88px; /* equal to height */
  }

  #angle {
    font-size: 14px; /**/
    position: absolute; /**/
    bottom: 2px; /**/
    left: 15px; /**/
  }

  #functions {

  }

  #keypad {
    padding-left: 10px;
  }

  .key {
    width: 64px;
    height: 39px;
    line-height: 39px;
    font-size: 21px;
    margin-top: 8px;
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 11px;
  }

  .key .gloss {
    height: 19px; /* half of normal key, it is same for vertically long key. */
  }

  #zero_key {
    width: 142px;
  }

  #equal_key {
    height: 99px;
    line-height: 99px; /* centering */
  }
}


@media (min-device-width: 768px) and (orientation: portrait) { /* iPad Portrait 768x1004 */
  /* 2.4 times */
  #wrapper {
    width: 1374px;
  }

  #display {
    height: 212px;
    margin-bottom: 10px;
  }

  #view {
    font-size: 182px;
    line-height: 209px;
    padding-right: 14px;
  }

  .gloss {
    -webkit-box-shadow: inset 0px 5px 2px rgba(255, 255, 255, 0.6);
  }

  #keypad {
    padding-left: 24px;
  }

  .key {
    width: 157px;
    height: 95px;
    line-height: 95px;
    font-size: 55px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    margin-top: 19px;
    margin-bottom: 14px;
    margin-left: 0;
    margin-right: 28px;
  }

  .key .gloss {
    height: 46px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-right-radius: 50% 10px;
    -webkit-border-bottom-left-radius: 50% 10px;
  }

  #zero_key {
    width: 342px;
  }

  #equal_key {
    height: 223px;
    line-height: 223px; /* centering */
  }
}

@media (min-device-width: 768px) and (orientation: landscape) { /* iPad Landscape 1024x748 */
  /* 2.13 times */
  #wrapper {
    width: 1024px;
    padding-bottom: 3px;
  }

  #display {
    height: 124px;
    margin-bottom: 2px;
  }

  #view {
    font-size: 108px;
    line-height: 124px;
    padding-right: 5px;
  }

  #angle {
    display: block;
    font-size: 29px;
    position: absolute;
    bottom: 4px;
    left: 36px;
  }

  .gloss {
    -webkit-box-shadow: inset 0px 4px 2px rgba(255, 255, 255, 0.6);
  }

  #functions {
    display: block;
  }

  #keypad {
    padding-left: 4px;
    margin-right: -4px;
  }

  .key {
    width: 108px;
    height: 61px;
    line-height: 60px;
    font-size: 38px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    margin-top: 17px;
    margin-bottom: 23px;
    margin-left: 6px;
    margin-right: 12px;
  }

  .key .gloss {
    height: 28px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-right-radius: 50% 10px;
    -webkit-border-bottom-left-radius: 50% 10px;
  }

  #zero_key {
    width: 234px;
  }

  #equal_key {
    height: 162px;
    line-height: 162px; /* centering */
  }
}

/*
 * debug
 */

/*
body {
  width: 480px;
  background-image: url("images/IMG_1189.png");
  padding-top: 20px;
}

body {
  width: 1024px;
  background-image: url("images/iPad landscape.png");
  padding-top: 43px;
}

body {
  width: 768px;
  background-image: url("images/iPad portrait.png");
  padding-top: 48px;
}

body {
  background-repeat: no-repeat;  
}

#wrapper {
  opacity: 0.5;  
}

body {
  width: 320px;
  background-image: url("images/calculator.png");
  padding-top: 20px;  
}
*/

