/*
 * generic
 */

.clearfix:after {
  content: "";   
  display: block;   
  clear: both;   
}  

/* Keep consistent line spacing with sup and sub
   http://www.adobe.com/cfusion/communityengine/index.cfm?event=showdetails&productId=1&postId=5341 */
sup, sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  _vertical-align: bottom;
  position: relative;
  
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}


/*
 * main
 */

* {
  margin: 0;
  padding: 0;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

#wrapper {
  background-image: url('images/noise_01.jpg');
}

#display {
  font-family: sans-serif;
  font-size: 56px;
  text-align: right;
  width: 100%;
  height: 87px;
  line-height: 87px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(193, 199, 153)), to(rgb(233, 235, 218)));
  border: solid 1px #787878;
  margin-bottom: 4px;
  position: relative; /* in order to make height effective to children */
}

#display .gloss {
  position: absolute; /* in order to place text of parent right */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.2)));
  height: 50%;
  width: 100%;
  -webkit-box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.6);
}

#functions {
  float: left;
}

#keypad {
  float: left;
  padding-left: 10px;
}

.key {
  font-family: sans-serif;
  color: white;
  text-align: center;
  width: 64px;
  height: 38px;
  line-height: 42px; /* centering */
  border: solid 1px black;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  margin-top: 8px;
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 10px;
  position: relative;
}

.key .gloss {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.2)));
  height: 19px; /* half of key */
  width: 100%;
  position: absolute;
  -webkit-box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.6);
  -webkit-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-right-radius: 50% 4px;
  -webkit-border-bottom-left-radius: 50% 4px;
}

.key:hover .gloss {
  visibility: hidden;
}

.key.number {
  background-color: #000000;
}

.key.number:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(0, 0, 0)), to(rgb(128, 128, 128)));
}

.key.function {
  background-color: #4f5559;
}

.key.function:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f5559), to(#a8abad));
}

.key.operator {
  background-color: #5b493f;
}

.key.operator:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5b493f), to(#aea5a0));
}

#zero_key {
  width: 142px;
}

#equal_key {
  height: 99px;
  line-height: 99px; /* centering */
  background-color: #e46e0b;
}
