* {
  margin: 0;
  padding: 0;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

#keypad {
  padding-left: 10px;
}

.key {
  text-align: center;
  width: 64px;
  height: 38px;
  line-height: 42px; /* centering */
  border: solid 1px black;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  margin-top: 8px;
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 10px;
}

#zero_key {
  width: 142px;
}

#equal_key {
  height: 99px;
  line-height: 99px; /* centering */
}

.test {
  margin: 0;
  padding: 0;
  border: solid 1px black;
}